@import "tailwindcss";

@theme {
  --color-space-bg: #05050a;
  --color-neon-blue: #00e5ff;
  --color-neon-orange: #ff6a00;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background-color: #05050a;
  color: #00e5ff;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.neon-text {
  color: #00e5ff;
  text-shadow: 0 0 5px #00e5ff;
}
